<div class="modal fade slide-up disable-scroll" id="orderConfirmed" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5><span class="bold">Order received! Working hard prepping your delicious order now. </span></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" id="confirmation-details">
              <p id="confirmation-name"></p>
              <p id="confirmation-date"></p>
              <p id="confirmation-topic"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 m-t-10 sm-m-t-10">
              <button type="button" data-dismiss="modal" aria-hidden="true" id="dismissConfirmation" class="pull-left btn btn-complete btn-rounded m-t-5">Dismiss</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>